<div class="imageContainer" *ngIf="this.hiddenShown ? true : isHidden">
    <img class="sticker" src="stickers/{{this.stickerSetName}}/{{this.sticker.num}}-{{this.sticker.id}}.s{{this.stickersService.previewSize}}.{{this.sticker.type}}" loading="lazy" (click)="copyToClipboard()" [@openClose]="isShown ? 'open' : 'closed'">
    <a [href]="stickerActualUrl" (click)="preventDefaults($event)">
    </a>
    <div class="text" [@hideText]="isShown ? 'hidden' : 'shown'">
        <p>HIDDEN</p>
    </div>
    <div class="buttons">
        <mat-icon color="accent" class="button-one" (click)="hideClick()">{{isShown ? "visibility_off" : "visibility_on"}}</mat-icon>
        <mat-icon color="primary" class="button-one" (click)="favoriteClick()">{{isFavorite ? "favorite_outlined" : "favorite"}}</mat-icon>
    </div>
</div>
