<div class="imageContainer">
    <img class="sticker" src="stickers/{{sticker.set}}/{{sticker.preview}}" loading="lazy" (click)="copyToClipboard()" [@openClose]="isShown ? 'open' : 'closed'">
    <div class="text" [@hideText]="isShown ? 'hidden' : 'shown'">
        <p>HIDDEN</p>
    </div>
    <div class="buttons">
        <mat-icon color="accent" class="button-one" (click)="hideClick(sticker)">{{isShown ? "visibility_off" : "visibility_on"}}</mat-icon>
        <mat-icon color="primary" class="button-one" (click)="favoriteClick(sticker)">{{isFavorite ? "favorite_outlined" : "favorite"}}</mat-icon>
    </div>
</div>
