<div class="save-bar" [@topBar]="unsavedBar ? 'shown' : 'hidden'">
    You have unsaved hidden stickers
    <button (click)="saveHidden()">SAVE</button>
</div>

<div class="settings">
    <mat-checkbox [checked]="nsfwToggle" (change)="toggleShowNsfw($event)">Show NSFW</mat-checkbox>
    <mat-checkbox (change)="toggleShowHidden($event)">Show Hidden</mat-checkbox>
    <div class="select">
        Size:
        <mat-select [value]="size" (selectionChange)="handleSelectChange($event)">
            <mat-option *ngFor="let res of resolution" [value]="res.value">
                {{res.text}}
            </mat-option>
        </mat-select>
    </div>
</div>

<app-sticker-set stickerSetName="Favorites">
    <div *ngFor="let image of Favorite">
        <app-sticker [url]="image" 
        (UnFavorite)="unFavorite($event)"
        [isFavorite]="checkIfFavorite('', '', image)"
        [isHidden]="checkIfHidden('', '', image)"
        [size]="size"
        (Hide)="hide($event)">
    </app-sticker>
</div>
</app-sticker-set>
    <app-sticker-set *ngFor="let sticker of json; trackBy: trackBySet" stickerSetName="{{sticker.name}}" [@hide]="nsfwToggle && sticker.nsfw ? 'hidden' : 'visible'">
        <div *ngFor="let image of sticker.data">
            <app-sticker url="https://stickers.farfelu.eu/{{sticker.name}}/{{image}}.png" 
            (Favorite)="favorite($event)"
            (UnFavorite)="unFavorite($event)"
            (UnHide)="unHide($event)"
            (Hide)="hide($event)"
            [size]="size"
            [isFavorite]="checkIfFavorite(sticker.name, image)"
            [isHidden]="checkIfHidden(sticker.name, image)"
            *ngIf="hiddenShown ? true : checkIfHidden(sticker.name, image)"
            >
        </app-sticker>
    </div>
</app-sticker-set>

<!-- (((((##################%%%,,,,,,,,,,,,,,,,,,,...,,,,,,,,...../*//,,.,,,,,,,,,,,,
#(#%%#############(##&%,,,,,,,,,.,,,,,,,,,  .,,,,,,,,,,,....(,./,**,,,,,,,,,,,,,
#(#########%#(####%%,,,,,,,,,..,.,,,....#/../*,,,,,,@,,,.,.....,,.,,,,,,,,,,,,,,
(###########(#%&,,,,,,,,,,*,*/**,.,..##% ..***,,,,,,,,..,,.......,,,,,,,,,,,,,,,
######(###%%,,,.,,,,,,,,,,,,,,,.../##&#..,/,**,,,,,,,,.,........,,,,,,,,,,,,,,,,
(#((%%&/,,,,,,,,,,,,..,,,,,*,,,,,##@@&...***,*,,,,,,...........,,,,,,,,,,,,,,,,,
&%,,,,,,,,,,,,,,,,,,,,,,,#*(, .##@@(@(//*/**,,,,,,,...........,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,..,.,.,,. &%**//**///////*,*,,,,,........,,,,,,,,,,,,,.,,,,,
,,,,,,,,,,,,,,,,,%*.......,&@#/,*//(///*/////////.*,,..,..,.,,,,,,,,,,,,.,,,,,,,
,,,,,,,,,,,,,,*@@@@,.........,&(/(%///,.*//////////,...,...,*/,,,,,,,,,,,,,,,,,,
**************@@@@&@@@@@@@@@@@@#@(///&&../////////////(..(,,#,,,,,,,,,,,,,,,,,,,
*************,&@@@@@@@@@@@@@@@@@##%@@@#&...////////**/////(,,*%,,*%*,,.,,,,,,,,,
**********,,,*,,%@@@@@@@@@@@@@@@@@@@@& #&@*.,*//////*..,***//(.,,,/,,,..,,,,,.,,
****************,,,,/&@@@@@@@@@@@@@@&&&& &&@%//////*/(.....,,***/,,.,,,,,,,,,,,,
,********////////*,**,,*@@@@@@@@@@@@&&&&&%&&&@@%///*//&&##(...  .,***,,,,,,,,,,,
******/////(/&@@@&%#((,,,@@@@@@@@@@@@&&&%%#%(///////&*/&&&&&&&%#/.. ....,,,,,,,,
********/////#@@@@@@@@(((@@@@@@@@@@@@&&&&%%%%%*////*&&&&&&&&&&%(,    ...,.,,,,,,
,,,,,*********(@@@@@@@@@@@@@@@@&@@&@@&&&&&&&%%%/*/*/ .     .//,..,#....,..,,,,,,
,,,,,,*******,((/(#@@&@@&&@&&&&&&&&&&&&&&&&&&&&%/***...////,,,,,,,#,,.,,,,,..,,*
,*,,,*,(****#,(//(&@@&#...%&&&@&&&&&&&&&&&&&&&&&&*,,,.((##@@@@&&##,.,,,**,*/////
//,,,,,*%**((,,/*%%&&&/.,,... ..#(%&&&&&&&%%&&&&&%...(###/,,........,.,..*/////*
,,*&*,&%,,(////.//*(%&,..,.,...  ,..,*/(,......., ........,.,,,,....,,,.,,,*////
**,*#*,*(.,////////*%%*../#&&&#.......................,.,%,,..***&*/////*/******
***/**////,,////*/*,%&%...(#&&&#&&%%#%(,,/. ..........(&&@&%&&&(,***************
*****,//////**/****#&((,....(((&#(&%%%*........ ..(%&&&####(***********/*//*****
****(*.//////*****,,,((/...,#%%&&&&%....... ..(#&&&#(#(,****************///*****
**.(///.**/******,,,,*&&*.....%%#%....,.. (%%#&&%##(*,************,**...*/******
**.,/////******,,,,,,,,#(*.....,....(#&&&&%&###&#,,,,************,*****....****,
/*//.*********,,,,,,,*/(/*/(*,#%%...(&&&#(&%#(*,,******//*******,********,..**,,
//////******,,,,,,,,,,,****....*...*#&%%&%#*******/////*/,**/*************,  ,,.
/////*****,,,,,,*,,***********,*....((/(****///////////////*,..*********,,,. ...
,.,/******,,,,********************...,**////////////////******* .,***,,,,,,..... -->