<div class="save-bar" [@topBar]="unsavedBar ? 'shown' : 'hidden'">
    You have unsaved hidden stickers
    <button (click)="saveHidden()">SAVE</button>
</div>

<div class="settings">
    <mat-checkbox [checked]="nsfwToggle" (change)="toggleShowNsfw($event)">Show NSFW</mat-checkbox>
    <mat-checkbox (change)="toggleShowHidden($event)">Show Hidden</mat-checkbox>
    <div class="select">
        Size:
        <mat-select [value]="size" (selectionChange)="handleSelectChange($event)">
            <mat-option *ngFor="let res of resolution" [value]="res.value">
                {{res.text}}
            </mat-option>
        </mat-select>
    </div>
</div>

<app-sticker-set *ngFor="let set of StickerSets; trackBy: trackBySet" stickerSetName="{{set.name}}" [@hide]="!nsfwToggle && set.nsfw ? 'hidden' : 'visible'">
    <div *ngFor="let sticker of set.stickers">
        <app-sticker
            [sticker]="sticker"
            (Favorite)="favorite($event)"
            (UnFavorite)="unFavorite($event)"
            (UnHide)="unHide($event)"
            (Hide)="hide($event)"
            (Copied)="openCopiedSnackbar()"
            [size]="size"
            [isFavorite]="checkIfFavorite(sticker.id)"
            [isHidden]="checkIfHidden(sticker.id)"
            *ngIf="hiddenShown ? true : checkIfHidden(sticker.id)"
        >
        </app-sticker>
    </div>
</app-sticker-set>

<!-- (((((##################%%%,,,,,,,,,,,,,,,,,,,...,,,,,,,,...../*//,,.,,,,,,,,,,,,
#(#%%#############(##&%,,,,,,,,,.,,,,,,,,,  .,,,,,,,,,,,....(,./,**,,,,,,,,,,,,,
#(#########%#(####%%,,,,,,,,,..,.,,,....#/../*,,,,,,@,,,.,.....,,.,,,,,,,,,,,,,,
(###########(#%&,,,,,,,,,,*,*/**,.,..##% ..***,,,,,,,,..,,.......,,,,,,,,,,,,,,,
######(###%%,,,.,,,,,,,,,,,,,,,.../##&#..,/,**,,,,,,,,.,........,,,,,,,,,,,,,,,,
(#((%%&/,,,,,,,,,,,,..,,,,,*,,,,,##@@&...***,*,,,,,,...........,,,,,,,,,,,,,,,,,
&%,,,,,,,,,,,,,,,,,,,,,,,#*(, .##@@(@(//*/**,,,,,,,...........,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,..,.,.,,. &%**//**///////*,*,,,,,........,,,,,,,,,,,,,.,,,,,
,,,,,,,,,,,,,,,,,%*.......,&@#/,*//(///*/////////.*,,..,..,.,,,,,,,,,,,,.,,,,,,,
,,,,,,,,,,,,,,*@@@@,.........,&(/(%///,.*//////////,...,...,*/,,,,,,,,,,,,,,,,,,
**************@@@@&@@@@@@@@@@@@#@(///&&../////////////(..(,,#,,,,,,,,,,,,,,,,,,,
*************,&@@@@@@@@@@@@@@@@@##%@@@#&...////////**/////(,,*%,,*%*,,.,,,,,,,,,
**********,,,*,,%@@@@@@@@@@@@@@@@@@@@& #&@*.,*//////*..,***//(.,,,/,,,..,,,,,.,,
****************,,,,/&@@@@@@@@@@@@@@&&&& &&@%//////*/(.....,,***/,,.,,,,,,,,,,,,
,********////////*,**,,*@@@@@@@@@@@@&&&&&%&&&@@%///*//&&##(...  .,***,,,,,,,,,,,
******/////(/&@@@&%#((,,,@@@@@@@@@@@@&&&%%#%(///////&*/&&&&&&&%#/.. ....,,,,,,,,
********/////#@@@@@@@@(((@@@@@@@@@@@@&&&&%%%%%*////*&&&&&&&&&&%(,    ...,.,,,,,,
,,,,,*********(@@@@@@@@@@@@@@@@&@@&@@&&&&&&&%%%/*/*/ .     .//,..,#....,..,,,,,,
,,,,,,*******,((/(#@@&@@&&@&&&&&&&&&&&&&&&&&&&&%/***...////,,,,,,,#,,.,,,,,..,,*
,*,,,*,(****#,(//(&@@&#...%&&&@&&&&&&&&&&&&&&&&&&*,,,.((##@@@@&&##,.,,,**,*/////
//,,,,,*%**((,,/*%%&&&/.,,... ..#(%&&&&&&&%%&&&&&%...(###/,,........,.,..*/////*
,,*&*,&%,,(////.//*(%&,..,.,...  ,..,*/(,......., ........,.,,,,....,,,.,,,*////
**,*#*,*(.,////////*%%*../#&&&#.......................,.,%,,..***&*/////*/******
***/**////,,////*/*,%&%...(#&&&#&&%%#%(,,/. ..........(&&@&%&&&(,***************
*****,//////**/****#&((,....(((&#(&%%%*........ ..(%&&&####(***********/*//*****
****(*.//////*****,,,((/...,#%%&&&&%....... ..(#&&&#(#(,****************///*****
**.(///.**/******,,,,*&&*.....%%#%....,.. (%%#&&%##(*,************,**...*/******
**.,/////******,,,,,,,,#(*.....,....(#&&&&%&###&#,,,,************,*****....****,
/*//.*********,,,,,,,*/(/*/(*,#%%...(&&&#(&%#(*,,******//*******,********,..**,,
//////******,,,,,,,,,,,****....*...*#&%%&%#*******/////*/,**/*************,  ,,.
/////*****,,,,,,*,,***********,*....((/(****///////////////*,..*********,,,. ...
,.,/******,,,,********************...,**////////////////******* .,***,,,,,,..... -->
