<div class="save-bar" [@topBar]="_stickerService.unsavedBar ? 'shown' : 'hidden'">
    You have unsaved hidden stickers
    <button (click)="_stickerService.saveHidden()">SAVE</button>
</div>

<div class="settings">
    <mat-checkbox [checked]="nsfwToggle" (change)="toggleShowNsfw($event)">NSFW</mat-checkbox>
    <mat-checkbox (change)="toggleShowHidden($event)">Show Hidden</mat-checkbox>
    <div class="select">
        Size:
        <mat-select [value]="size" (selectionChange)="handleSelectChange($event)">
            <mat-option *ngFor="let res of resolution" [value]="res.value">
                {{res.text}}
            </mat-option>
        </mat-select>
    </div>
</div>

<app-sticker-set *ngFor="let set of StickerSets; trackBy: trackBySet" stickerSetName="{{set.name}}" [isNsfw]="set.nsfw">
    <div *ngFor="let sticker of set.stickers">
        <app-sticker
        [sticker]="sticker"
        [size]="size"
        stickerSetName="{{set.name}}"
        >
    </app-sticker>
</div>
</app-sticker-set>

<!-- (((((##################%%%,,,,,,,,,,,,,,,,,,,...,,,,,,,,...../*//,,.,,,,,,,,,,,,
#(#%%#############(##&%,,,,,,,,,.,,,,,,,,,  .,,,,,,,,,,,....(,./,**,,,,,,,,,,,,,
#(#########%#(####%%,,,,,,,,,..,.,,,....#/../*,,,,,,@,,,.,.....,,.,,,,,,,,,,,,,,
(###########(#%&,,,,,,,,,,*,*/**,.,..##% ..***,,,,,,,,..,,.......,,,,,,,,,,,,,,,
######(###%%,,,.,,,,,,,,,,,,,,,.../##&#..,/,**,,,,,,,,.,........,,,,,,,,,,,,,,,,
(#((%%&/,,,,,,,,,,,,..,,,,,*,,,,,##@@&...***,*,,,,,,...........,,,,,,,,,,,,,,,,,
&%,,,,,,,,,,,,,,,,,,,,,,,#*(, .##@@(@(//*/**,,,,,,,...........,,,,,,,,,,,,,,,,,,
.,,,,,,,,,,,,,,,,,,,..,.,.,,. &%**//**///////*,*,,,,,........,,,,,,,,,,,,,.,,,,,
,,,,,,,,,,,,,,,,,%*.......,&@#/,*//(///*/////////.*,,..,..,.,,,,,,,,,,,,.,,,,,,,
,,,,,,,,,,,,,,*@@@@,.........,&(/(%///,.*//////////,...,...,*/,,,,,,,,,,,,,,,,,,
**************@@@@&@@@@@@@@@@@@#@(///&&../////////////(..(,,#,,,,,,,,,,,,,,,,,,,
*************,&@@@@@@@@@@@@@@@@@##%@@@#&...////////**/////(,,*%,,*%*,,.,,,,,,,,,
**********,,,*,,%@@@@@@@@@@@@@@@@@@@@& #&@*.,*//////*..,***//(.,,,/,,,..,,,,,.,,
****************,,,,/&@@@@@@@@@@@@@@&&&& &&@%//////*/(.....,,***/,,.,,,,,,,,,,,,
,********////////*,**,,*@@@@@@@@@@@@&&&&&%&&&@@%///*//&&##(...  .,***,,,,,,,,,,,
******/////(/&@@@&%#((,,,@@@@@@@@@@@@&&&%%#%(///////&*/&&&&&&&%#/.. ....,,,,,,,,
********/////#@@@@@@@@(((@@@@@@@@@@@@&&&&%%%%%*////*&&&&&&&&&&%(,    ...,.,,,,,,
,,,,,*********(@@@@@@@@@@@@@@@@&@@&@@&&&&&&&%%%/*/*/ .     .//,..,#....,..,,,,,,
,,,,,,*******,((/(#@@&@@&&@&&&&&&&&&&&&&&&&&&&&%/***...////,,,,,,,#,,.,,,,,..,,*
,*,,,*,(****#,(//(&@@&#...%&&&@&&&&&&&&&&&&&&&&&&*,,,.((##@@@@&&##,.,,,**,*/////
//,,,,,*%**((,,/*%%&&&/.,,... ..#(%&&&&&&&%%&&&&&%...(###/,,........,.,..*/////*
,,*&*,&%,,(////.//*(%&,..,.,...  ,..,*/(,......., ........,.,,,,....,,,.,,,*////
**,*#*,*(.,////////*%%*../#&&&#.......................,.,%,,..***&*/////*/******
***/**////,,////*/*,%&%...(#&&&#&&%%#%(,,/. ..........(&&@&%&&&(,***************
*****,//////**/****#&((,....(((&#(&%%%*........ ..(%&&&####(***********/*//*****
****(*.//////*****,,,((/...,#%%&&&&%....... ..(#&&&#(#(,****************///*****
**.(///.**/******,,,,*&&*.....%%#%....,.. (%%#&&%##(*,************,**...*/******
**.,/////******,,,,,,,,#(*.....,....(#&&&&%&###&#,,,,************,*****....****,
/*//.*********,,,,,,,*/(/*/(*,#%%...(&&&#(&%#(*,,******//*******,********,..**,,
//////******,,,,,,,,,,,****....*...*#&%%&%#*******/////*/,**/*************,  ,,.
/////*****,,,,,,*,,***********,*....((/(****///////////////*,..*********,,,. ...
,.,/******,,,,********************...,**////////////////******* .,***,,,,,,..... -->
