.sticker-set-bar {
    height: 2rem;
    width: min-content;
    color: white;
    padding-right: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    
    &:hover {
        font-weight: 400;
    }
}

.content {
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    justify-content: center;
}